.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    row-gap: 8px;
    font-size: 24px;
}

input, select {
    width: 100%;
    max-width: 240px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 0 8px;
    font-size: 16px;
    text-align: center;
}

.error {
    color: red;
    font-size: 24px;
}

.success {
    color: green;
    font-size: 24px;
}
