.rooms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1280px;
  row-gap: 8px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  color: #fff;
  user-select: none;
}
