.teams {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1280px;
  row-gap: 8px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  color: #fff;
  user-select: none;
}

.editPanel {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background-color: #fff;
  border-radius: 10px;
  z-index: 20;

  box-sizing: border-box;
  padding: 10px;

  box-shadow: 0 0 200px 40px black;
}

.editPannelExit {
  border: none;
  outline: none;
  width: 20px;
  height: 25px;
  border-radius: 50%;
  color: white;
  align-self: end;
  cursor: pointer;
  background-color: rgb(241, 80, 80);
}

.editPannelExit:hover {
  scale: 0.95;
}

.editPannelHeader {
  color: black;
}

.editPannelMain {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: black;
  width: 100%;
  height: 100%;
}

.editPannelField {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.editPannelActions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}

.editPannelAction {
  border: none;
  outline: none;
  width: 100px;
  height: 30px;
  background-color: black;
  color: white;

  cursor: pointer;
}

.editPannelAction:hover {
  transform: scale(0.95);
}
