.teamsTile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 16px;
  border-radius: 4px;
  background-color: #fff;
  transition: scale 0.1s ease-in-out;
  user-select: none;
  color: black;
}

.teamsTile:hover {
  scale: 0.95;
}

.teamsTile:active {
  scale: 0.9;
}
